---
---

<section class="relative h-[50vh] md:min-h-[100vh] bg-white">
   <img class="absolute bottom-[20px] w-[90%] left-[50%] translate-x-[-50%]" src="/hero-title.avif" alt="hero title">
</section>

<style>
    section{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.412), rgb(0, 0, 0)), url(/hero.avif) no-repeat center;
        background-size: cover
    }
</style>
