---
import BtnDefault from "./BtnDefault.astro"
---

<section class="text-center">
    <h2 class="opacity-80 my-[30px]">VIAJA GRATIS CON QUEMADURA LIBRE, LUCHAMOS POR LOS MOTOCICLISTAS
    </h2>
    <BtnDefault 
    title="Pongase en contacto"
    style="opacity-90"
    img="btn-1.webp"
    />
</section>