---
import MaxWidth from "./MaxWidth.astro"
import Recurrir from './Recurrir.astro'
import BtnDefault from "./BtnDefault.astro"
import SectionInfo from './SectionInfo.astro'


---

<section class="mt-0 mt:mt-[120px] py-[120px]">
    <MaxWidth
    style="block"
    >

    <SectionInfo 
    imgPicture="/info.avif"
    title="abogados de motocicletas en freeburn"
    subTitleYellow="Abogados con Experiencia en Accidentes de Motocicletas en Oensilvania"
    p1="¿Ha resultado lesionado en un accidente de motocicleta? Confíe en el experimentado equipo de accidentes de motocicleta de PA en Freeburn Law. ¡Los abogados de Freeburn Law tienen la experiencia para manejar estos reclamos complejos y obtener la compensación que se merece!"
    subTitle="abogando por su seguridad durante más de 40 años"
    p2="Aquí en Freeburn Law, no solo representamos a las víctimas de motocicletas en los tribunales, sino que abogamos por la seguridad de los motociclistas en toda nuestra comunidad."
    p3="Esto es más que trabajo, ¡es nuestra pasión! Ya sea que se trate de paseos de concientización, participación comunitaria o donaciones a organizaciones benéficas locales, nos encontrará donde están los ciclistas."
    titleBtn="habla con freeburn"
    imgBtn="/btn-1.webp"
    />

 

    </MaxWidth>
</section>

<style>
    section{
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.412), rgb(0, 0, 0)), url(/info-bg.avif) no-repeat center;
    background-size: cover
}
</style>