---
---


<section class="relative w-full mt-[120px] flex justify-end items-center shadow-4">
   <picture class="cursor-pointer relative flex justify-center items-center w-[500px] grayscale-[100%] overflow-hidden hover:grayscale-[0] trasition-all duration-300 [&>img]:hover:scale-105">
      <img class="w-full transition-all duration-300" src="/video.avif" alt="Video">
      <img class="absolute transition-all duration-300" src="/icon-play.avif" alt="icon play">
    </picture>   
</section>
